.site-header {
    background-color: rgba(47, 85, 114, .3);
    position: fixed;
    top: 0;
    z-index:1;
    width: 100%;
    height: 60px;

    > div {
        height: 60px;
        overflow: visible;
        position: relative;
    }

    
    &__logo {
        background: $mainBlue;
        padding: 1.5rem 2rem;
    }

    &__btn {        
        
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
        
    }
    
    nav {
        position: absolute;
        top: 50%;
        right: 10rem;
        transform: translateY(-50%);        
    }

    &__menu-item {
        display: inline-block;
        padding-right: 1.25rem;
        
        > a {
            font-weight: 300;
            text-decoration: none;
            color: white;
        }
        
    }
}